hapPI.json
[{"id":"c9f89e5e.104ac","type":"tab","label":"project-","disabled":false,"info":""},{"id":"dc728d83.be909","type":"rpi-dht22","z":"c9f89e5e.104ac","name":"Humidity and Temperature sensor","topic":"rpi-dht22","dht":"11","pintype":"0","pin":4,"x":220,"y":100,"wires":[["b9f6cbcc.f08328","d7e09dd4.acf14"]]},{"id":"e5351f9.261a6e","type":"ui_gauge","z":"c9f89e5e.104ac","name":"Temperature","group":"aff9397b.69a3a8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#c1c144","#ca3838"],"seg1":"","seg2":"","x":450,"y":260,"wires":[]},{"id":"b9f6cbcc.f08328","type":"function","z":"c9f89e5e.104ac","name":"Temperature data","func":"global.set(\"Temperature\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["e5351f9.261a6e","9c7f5c10.359bd"]]},{"id":"ea4e5dd3.c2df3","type":"inject","z":"c9f89e5e.104ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":180,"wires":[["dc728d83.be909"]]},{"id":"fc66b32e.0d65f","type":"ui_gauge","z":"c9f89e5e.104ac","name":"Humidity data","group":"aff9397b.69a3a8","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity Data","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#71d171","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":340,"wires":[]},{"id":"d7e09dd4.acf14","type":"function","z":"c9f89e5e.104ac","name":"humidity data","func":"msg.payload = msg.humidity\nglobal.set(\"humidity\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":320,"wires":[["fc66b32e.0d65f","9c7f5c10.359bd"]]},{"id":"98352c24.52463","type":"arduino in","z":"c9f89e5e.104ac","name":"moisture","pin":"0","state":"ANALOG","arduino":"3ecc7ad4.f01046","x":80,"y":360,"wires":[["5f4176a6.30b5b8"]]},{"id":"6a43a14b.80ff1","type":"ui_gauge","z":"c9f89e5e.104ac","name":"","group":"aff9397b.69a3a8","order":2,"width":0,"height":0,"gtype":"gage","title":"Moisture Content","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":420,"wires":[]},{"id":"5f4176a6.30b5b8","type":"range","z":"c9f89e5e.104ac","minin":"250","maxin":"718","minout":"100","maxout":"0","action":"scale","round":true,"property":"payload","name":"moisture data","x":270,"y":520,"wires":[["d3f54761.9eb388"]]},{"id":"d3f54761.9eb388","type":"function","z":"c9f89e5e.104ac","name":"moisture data[2]","func":"global.set(\"moisture\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":500,"wires":[["6a43a14b.80ff1","9c7f5c10.359bd"]]},{"id":"9c7f5c10.359bd","type":"function","z":"c9f89e5e.104ac","name":"Happiness calculator","func":"var temp = global.get(\"Temperature\");\nvar hum = global.get(\"humidity\");\nvar moisture = global.get(\"moisture\");\nglobal.set(\"led\",0);\nif (temp <= 30 && hum >=55 && moisture >= 80){\n    msg.payload = \"I am very happy :)\";\n    led = 1;\n}\nelse{   \n    msg.payload = \"I am very sad :(.Please help me\";\n    led = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":360,"wires":[["918fabc7.828878","1093e474.01104c"]]},{"id":"918fabc7.828878","type":"debug","z":"c9f89e5e.104ac","name":"message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":420,"wires":[]},{"id":"1093e474.01104c","type":"ui_toast","z":"c9f89e5e.104ac","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":970,"y":320,"wires":[]},{"id":"aff9397b.69a3a8","type":"ui_group","name":"project","tab":"f49ab640.7f6748","order":1,"disp":true,"width":"7","collapse":false},{"id":"3ecc7ad4.f01046","type":"arduino-board","device":"/dev/ttyACM1"},{"id":"f49ab640.7f6748","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]